// $font-family: 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family: "Noto Serif","Times New Roman",Helvetica,Arial,sans-serif;
$heading-font-family: $font-family !default;
$monospace-font-family: Consolas, Monaco, "Courier New", monospace !default;


@import "kube";
@import "scss/_aligner";

html {
    background: url(/dist/images/background.jpg) top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

body {
    background: rgba(0,0,0,.7);
    min-height: 100vh;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    color: white;

    /*background: rgba(0,0,0,.7);*/
    padding: 100px 20px;
    border-radius: 3px;
}

.clickable {
    cursor: pointer;
}

.button {
    margin: 20px 0;
}

a {
    color: #99D6E1;
    &:hover {
        color: darken(#99D6E1, 20%);
    }
}

p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
}

img {
    transition: 0.5s;
    transition-timing-function: ease;
    border-radius: 5px;

    &.opened {
        transform: scale(2);
    }
}

.platform-block {
    display: flex;
    flex-direction: column;

    .platform-block--text {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        padding: 0 30px;

        p {
            text-align: center;
            width: 100%;
        }
    }
}

.platform-img {
    width: 100%;
    max-width: 422px;
    height: 200px;
    margin: auto;
    flex: 0 0 auto;
    border-radius: 10px;

    &.platform-img-tg {
        background: url(/dist/images/tg.png) no-repeat center / cover;
    }

    &.platform-img-forum {
        background: url(/dist/images/forum.png) no-repeat center / cover;
    }
}

h1, h2, h3 {
    color: white !important;
    text-shadow: 1px 1px 1px black !important;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.head-text {

    h1 {
        margin: 20px 0 30px;
        text-align: center;
        font-weight: normal;
        font-size: 60px;
        text-transform: uppercase;
    }

    h3 {
        text-align: center;
        font-size: 14px;
        font-style: italic;
        line-height: 1.6;

        max-width: 600px;
        margin: 0 auto;

        .quran-title {
            font-size: 95%;
        }
    }
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin: 20px 0;
}
